<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sentiment Analyzer</title>
    <meta content="A simple sentiment analysis application made using Tensorflow Keras, NLTK, TfIDF vector" name="description">

    <meta content="Sentiment Analysis, Natural Language Processing, Parth Desai" name="keywords">

    <!-- Favicons -->
    <link href="{{ url_for('static',filename='favicon.png')}}" rel="icon">
    <link href="{{ url_for('static',filename='apple-touch-icon.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel='stylesheet' type='text/css'>

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='aos.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='remixicon.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='swiper-bundle.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='glightbox.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static',filename='style.css')}}" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="{{ url_for('home')}}" class="logo d-flex align-items-center">
                <img src="{{ url_for('static',filename='logo.png')}}" alt="Sentiment Analyzer">
                <span>Sentiment Analyzer</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#clients">Tech Stack</a></li>
                    <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
                    <li><a class="nav-link scrollto" href="#features">Features</a></li>
                    <li><a class="nav-link scrollto" href="#portfolio">Dataset</a></li>
                    <li><a class="nav-link scrollto" href="#recent-blog-posts">Reference</a></li>
                    <li><a class="nav-link scrollto" href="#team">Team</a></li>
                    <li><a class="getstarted scrollto" href="#services">Start Analyzing</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">This is a web app which can be used to analyze users' sentiments across different platforms using REST Apis.</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">Made with Python, Flask, HTML, Javascript and deployed using Vercel.</h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="#services" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Start Analyzing</span>
                                <i class="bi bi-arrow-right"></i>
                            </a><br>
                            <a href="" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Individual Account</span>
                                <i class="bi bi-arrow-right"></i>
                            </a><br>
                            <a target="_blank" href="http://127.0.0.1:3000/" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Statement Check</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{{ url_for('static',filename='hero-img.png')}}" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">

            <div class="container" data-aos="fade-up">
                <div class="row gx-0">

                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h3>About the project</h3>
                            <h2><strong>Text Classification</strong> is a process involved in Sentiment Analysis. It is classification of peoples opinion or expressions into different sentiments.</h2>
                            <p>
                                Sentiment Analysis is the automated process of analyzing text data and sorting it into sentiments positive, negative or neutral.Twitter Sentiment Analysis Systems allow you to sort large sets of tweets and detect the polarity of each statement automatically.
                                This project used the following packages :
                                <ul>
                                    <li>
                                        Tensorflow Keras
                                    </li>
                                    <li>
                                        Natural Language Toolkit (NLTK)
                                    </li>
                                    <li>
                                        TfidfVectorizer
                                    </li>
                                </ul>
                            </p>
                            <p>
                                The model was trained using tweets from <a href="https://www.kaggle.com/kazanova/sentiment140">Sentiment140 dataset with 1.6 million tweets.</a> It contains 1,600,000 tweets extracted using the Twitter API. The tweets have
                                been annotated (0 = negative, 4 = positive) and they can be used to detect sentiment.
                            </p>
                            <div class="text-center text-lg-start">
                                <a href="https://github.com/pycoder2000/sentiment-analysis" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                    <span>See the code</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                        <img src="{{ url_for('static',filename='nlp.png')}}" class="img-fluid" alt="">
                    </div>

                </div>
            </div>

        </section>
        <!-- End About Section -->

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Tech Stack</h2>
                    <p>Technologies we used</p>
                </header>

                <div class="clients-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><img src="{{ url_for('static',filename='python.svg')}}" class="img-fluid" alt="Python"></div>
                        <div class="swiper-slide"><img src="{{ url_for('static',filename='django.svg')}}" class="img-fluid" alt="Django"></div>
                        <div class="swiper-slide"><img src="{{ url_for('static',filename='flask.svg')}}" class="img-fluid" alt="Flask"></div>
                        <div class="swiper-slide"><img src="{{ url_for('static',filename='html-5.svg')}}" class="img-fluid" alt="HTML"></div>
                        <div class="swiper-slide"><img src="{{ url_for('static',filename='javascript.svg')}}" class="img-fluid" alt="Javascript"></div>
                        <div class="swiper-slide"><img src="{{ url_for('static',filename='vercel.svg')}}" class="img-fluid" alt="Vercel"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

        </section>
        <!-- End Clients Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <h2>Execution</h2>
                    <p>Sentiment Analyzer</p>
                </header>
                <div class="form-group" align="center">
                    <label for="exampleInputEmail1">Enter text to Analyze</label>
                    <br>
                    <br>
                    <form action="{{ url_for('predict')}}" method="post">
                        <input type="text" name="input" placeholder="Enter Here" class="form-control my-input" id="exampleFormControlTextarea1" rows="3" required="required" />
                        <br>
                        <br>
                        <input type="submit" value="Analyse" class="btn btn-primary btn-sm" id="sub">
                    </form>
                    <br>
                    <br>

                    <table align="center">
                        <tr>
                            <td class="senti-label">Positive Sentiment</td>
                            <td><progress min=0 max=100 value=100 id="posbar" class="pos"></progress></td>
                            <td><p id="poscount" class="poscount"></p></td>
                        </tr>
                        <tr>
                            <td class="senti-label">Negative Sentiment</td>
                            <td><progress min=0 max=100 value=100 id="negbar" class="neg"></progress></td>
                            <td><p id="negcount" class="negcount"></p></td>
                        </tr>
                    </table>
                </div>

            </div>

        </section>
        <!-- End Services Section -->

        <!-- ======= F.A.Q Section ======= -->
        <section id="faq" class="faq">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>F.A.Q</h2>
                    <p>Basic Information</p>
                </header>

                <div class="row">
                    <div class="col-lg-6">
                        <!-- F.A.Q List 1-->
                        <div class="accordion accordion-flush" id="faqlist1">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                        What is Sentiment Analysis? 
                                    </button>
                                </h2>
                                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                It is the classification of the polarity of a given text in the document.
                                            </li>
                                            <li class="list-group-item">
                                                The goal is to determine whether the expressed opinion in the text is Positive, Negative, or Neutral.
                                            </li>
                                            <li class="list-group-item">
                                                For Example :
                                                <ul>
                                                    <li>
                                                        Positive: Narendra Modi is the best PM of India.
                                                    </li>
                                                    <li>
                                                        Negative: This person is misusing the law.
                                                    </li>
                                                    <li>
                                                        Neutral: Waiting for court decision.
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                        Where can we use this project?
                                    </button>
                                </h2>
                                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                    <div class="accordion-body">
                                        <p>
                                            It combines Machine Learning and Natural Language Processing (NLP) to achieve this. Using basic Sentiment analysis, a program can understand if the sentiment behind a piece of text is positive, negative, or neutral.<br><br>                                            For example, you can use Sentiment analysis to analyze customer feedback. You can collect customer feedback through various mediums Twitter, Facebook, etc., and run sentiment analysis algorithms on them to understand
                                            your customer‘s attitude towards your product.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                        How did we do our Literature Survey?
                                    </button>
                                </h2>
                                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                    <div class="accordion-body">
                                        <p>
                                            In order to implement the project, we have reviewed sites like Google, YouTube, GitHub etc. Then to study Machine Learning, Django we have reviewed the website Udemy, YouTube, etc. <br><br> Also, it is very
                                            important to know that if it is practically possible to implement the features which we want in our Website application (project), so we reviewed several patents and research papers related to our subject. After
                                            referring many reputed research papers and books we came to know that it is possible to implement most of the features and functions.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">

                        <!-- F.A.Q List 2-->
                        <div class="accordion accordion-flush" id="faqlist2">

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                                        What is our Problem Statement?
                                    </button>
                                </h2>
                                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                    <div class="accordion-body">
                                        <p>
                                            Given a message, classify whether the message is of positive, negative, or neutral sentiment. For messages conveying both a positive and negative sentiment, whichever is the stronger sentiment should be chosen.<br><br>                                            We can bring an automated domain independent sentiment classification tool with high accuracy that does not need a manually annotated corpus.<br><br> Such a tool would contribute for opinion search, recommendation,
                                            summarization and mining of the increasingly web opinionated content.<br>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                                        What are the prospects for the future?
                                    </button>
                                </h2>
                                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                    <div class="accordion-body">
                                        <p>
                                            We look forward to use bigger datasets to improve the accuracy, considering the growth of emoticons and internationalization.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                                        How is the accuracy of the model?
                                    </button>
                                </h2>
                                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                    <div class="accordion-body">
                                        <p>
                                            It's a pretty good model we trained here in terms of NLP. Around 80% accuracy is good enough considering the baseline human accuracy also pretty low in these tasks. Also, you may go on and explore the dataset, some tweets might have other languages than
                                            English. So our Embedding and Tokenizing wont have effect on them. But on practical scenario, this model is good for handling most tasks for Sentiment Analysis
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </section>
        <!-- End F.A.Q Section -->

        <!-- ======= Features Section ======= -->
        <section id="features" class="features">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Features</h2>
                    <p>The features we are trying to develop</p>
                </header>

                <div class="row">

                    <div class="col-lg-6">
                        <img src="{{ url_for('static',filename='features.png')}}" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                        <div class="row align-self-center gy-4">

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Train the data with NLTK</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Successfully classify the text</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Create a webapp for deployment with Flask</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Connect the .ipynb notebook file with flask</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Integrate visualization tools like graphs</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-x"></i>
                                    <h3>Deploy</h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- / row -->

                <!-- Feature Tabs -->
                <div class="row feture-tabs" data-aos="fade-up">
                    <div class="col-lg-6">
                        <h3>The procedure we followed</h3>

                        <!-- Tabs -->
                        <ul class="nav nav-pills mb-3">
                            <li>
                                <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Modules</a>
                            </li>
                            <li>
                                <a class="nav-link" data-bs-toggle="pill" href="#tab2">Proposed Work</a>
                            </li>
                            <li>
                                <a class="nav-link" data-bs-toggle="pill" href="#tab3">Steps</a>
                            </li>
                        </ul>
                        <!-- End Tabs -->

                        <!-- Tab Content -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab1">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Module 1</h4>
                                </div>
                                <p>Extracting data from social media.</p>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Module 2</h4>
                                </div>
                                <p>Tokensing fetched data.</p>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Module 3</h4>
                                </div>
                                <p>Preprocessing fetched data.</p>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Module 4</h4>
                                </div>
                                <p>Extracting data from social media.</p>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Module 5</h4>
                                </div>
                                <p>Classification of data.</p>
                            </div>
                            <!-- End Tab 1 Content -->

                            <div class="tab-pane fade show" id="tab2">
                                <div class="row gy-4" data-aos="fade-left">
                                    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                                        <div class="box">
                                            <h6 style="color: #07d5c0;">Data Collection</h6>
                                            Download the tweets using Twitter API.<br> Twitter using POS(part of speech) tagger.<br>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                                        <div class="box">
                                            <h6 style="color: #65c600;">Pre-Processing</h6>
                                            <strong>Remove</strong> URL & Hashtag, Numbers, Nouns & Prepositions.<br>
                                            <strong>Replace</strong> emojis by their polarity, sequence of repeated character coooooool by cool.
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                                        <div class="box">
                                            <h6 style="color: #ff901c;">Feature Extraction</h6>
                                            Percentage of the capitalized word<br> No of –ve/+ve capatilized word<br> No of the +ve/-ve hashtag<br> No of +ve/-ve emoticons<br> No. of negations<br> No. of special characters<br>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                                        <div class="box">
                                            <h6 style="color: #ff0071;">Classifications & Predictions</h6>
                                            The model is built to predict the sentiment of new tweets<br> Feature extracted are next focused to classifier<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Tab 2 Content -->

                            <div class="tab-pane fade show" id="tab3">
                                <ol class="list-group list-group-numbered">
                                    <li class="list-group-item">The user first enters the keyword and searches.</li>
                                    <li class="list-group-item">The system retrieves the tweets from twitter and stores the data. The data is then processed and fed to the ML algorithm.</li>
                                    <li class="list-group-item">The ML algorithm, trained by the training data, performs the analysis of the given data and provides the user with patterns and polarity.</li>
                                    <li class="list-group-item">Firstly, the program retrieves the data from twitter’s database, after searching the it from the keyword.</li>
                                    <li class="list-group-item">Then, the data is sent for preprocessing before sending it out for storage in warehouse.</li>
                                    <li class="list-group-item">The data is then aggregated as well as analyzed. Then, a final report as well as the data analysis is generated.</li>
                                </ol>
                            </div>
                            <!-- End Tab 3 Content -->
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <img src="{{ url_for('static', filename='features-2.png')}}" class="img-fluid" alt="">
                    </div>

                </div>
                <!-- End Feature Tabs -->
            </div>
        </section>
        <!-- End Features Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Dataset</h2>
                    <p>Insights from Dataset</p>
                </header>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">App</li>
                            <li data-filter=".filter-card">Card</li>
                            <li data-filter=".filter-web">Web</li>
                        </ul>
                    </div>
                </div>

                <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{{ url_for('static', filename='portfolio-1.png')}}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Dataset Distribution</h4>
                                <p>This is the distribution of the labels of dataset</p>
                                <div class="portfolio-links">
                                    <a href="{{ url_for('static',filename='portfolio-1.png')}}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Dataset Distribution"><i class="bi bi-plus"></i></a>
                                    <a href="#" title="More Details"><i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{{ url_for('static', filename='portfolio-4.png')}}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Classification Report</h4>
                                <p>Classification Report : The accuracy is 80%</p>
                                <div class="portfolio-links">
                                    <a href="{{ url_for('static',filename='portfolio-4.png')}}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Classification Report"><i class="bi bi-plus"></i></a>
                                    <a href="#" title="More Details"><i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{{ url_for('static', filename='portfolio-3.png')}}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Confusion Matrix</h4>
                                <p>Confusion Matrix</p>
                                <div class="portfolio-links">
                                    <a href="{{ url_for('static',filename='portfolio-3.png')}}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Confusion Matrix"><i class="bi bi-plus"></i></a>
                                    <a href="#" title="More Details"><i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{{ url_for('static', filename='portfolio-2.png')}}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Model Accuracy</h4>
                                <p>Learning Curve of loss and accuracy of the model on each epoch</p>
                                <div class="portfolio-links">
                                    <a href="{{ url_for('static',filename='portfolio-2.png')}}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Model Accuracy"><i class="bi bi-plus"></i></a>
                                    <a href="#" title="More Details"><i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{{ url_for('static', filename='portfolio-5.png')}}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Word-Cloud</h4>
                                <p>Word-Cloud for Negative tweets.</p>
                                <div class="portfolio-links">
                                    <a href="{{ url_for('static',filename='portfolio-5.png')}}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Word-Cloud"><i class="bi bi-plus"></i></a>
                                    <a href="#" title="More Details"><i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{{ url_for('static', filename='portfolio-6.png')}}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Word-Cloud</h4>
                                <p>Word-Cloud for Positive tweets.</p>
                                <div class="portfolio-links">
                                    <a href="{{ url_for('static',filename='portfolio-6.png')}}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Word-Cloud"><i class="bi bi-plus"></i></a>
                                    <a href="#" title="More Details"><i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Portfolio Section -->

        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="30369" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Vocab Size</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="1600000" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Dataset Rows</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-headset" style="color: #15be56;"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="1280000" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Train Data Size</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-people" style="color: #bb0852;"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="320000" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Test Data Size</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Counts Section -->

        <!-- ======= Recent Blog Posts Section ======= -->
        <section id="recent-blog-posts" class="recent-blog-posts">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Reference</h2>
                    <p>Papers and Code we referred while building this</p>
                </header>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="post-box">
                            <div class="post-img"><img src="{{ url_for('static',filename='blog-1.png')}}" class="img-fluid" alt=""></div>
                            <span class="post-date">Reference Paper</span>
                            <h3 class="post-title">Official paper detailing the approach</h3>
                            <a href="https://www-cs.stanford.edu/people/alecmgo/papers/TwitterDistantSupervision09.pdf" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="post-box">
                            <div class="post-img"><img src="{{ url_for('static',filename='blog-2.png')}}" class="img-fluid" alt=""></div>
                            <span class="post-date">Reference Notebook</span>
                            <h3 class="post-title">Reference Notebook for this project found on Kaggle</h3>
                            <a href="https://www.kaggle.com/paoloripamonti/twitter-sentiment-analysis" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="post-box">
                            <div class="post-img"><img src="{{ url_for('static',filename='blog-3.png')}}" class="img-fluid" alt=""></div>
                            <span class="post-date">Reference Blog</span>
                            <h3 class="post-title">Reference blog which was based on implementation of the research paper</h3>
                            <a href="http://www.laurentluce.com/posts/twitter-sentiment-analysis-using-python-and-nltk/" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                </div>

            </div>

        </section>
        <!-- End Recent Blog Posts Section -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="team">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Team</h2>
                    <p>Our team</p>
                </header>

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                            <div class="member-img">
                                <img src="{{ url_for('static',filename='team-2.jpg')}}" class="img-fluid" alt="Parth Desai">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Parth Desai</h4>
                                <span>18BCE150</span>
                                <p>
                                    Created the Flask App<br> Designed and coded the Website<br> Contributor in creating the training module<br>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="member">
                            <div class="member-img">
                                <img src="{{ url_for('static',filename='team-3.jpeg')}}" class="img-fluid" alt="Kushal Rajput">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Kushal Rajput</h4>
                                <span>19BCE521</span>
                                <p>
                                    In charge of Literature Survey<br> Cleaned the dataset and prepared it for pre-processing<br> Contributor in creating the training module<br>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                    </div>

                </div>

            </div>

        </section>
        <!-- End Team Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>18BCE150</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://github.com/pycoder2000">Parth Desai</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script type="text/javascript">
        var val = {{prediction_text}};
        var unval = 1-val;
        document.getElementById('posbar').value = val*100;
        document.getElementById('negbar').value = (1-val)*100;
        document.getElementById('poscount').innerHTML = val.toFixed(5)*100 + " %";
        document.getElementById('negcount').innerHTML = unval.toFixed(5)*100 + " %";
        function dis(){
          document.getElementById("sub").value = 'Analysing...';
          document.getElementById("sub").disabled = true;
        }
    </script>

    <script>
    function jumpToHash(hash){
        if (hash){
            var url = location.href;
            location.href = "#services";
        }
    }
    jumpToHash({{ anchor }});
    </script>

    <script src="{{ url_for('static',filename='bootstrap.bundle.js')}}"></script>
    <script src="{{ url_for('static',filename='aos.js')}}"></script>
    <script src="{{ url_for('static',filename='swiper-bundle.min.js')}}"></script>
    <script src="{{ url_for('static',filename='purecounter.js')}}"></script>
    <script src="{{ url_for('static',filename='isotope.pkgd.min.js')}}"></script>
    <script src="{{ url_for('static',filename='glightbox.min.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static',filename='main.js')}}"></script>
</body>

</html>